body {
	min-width: 960px;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #000;
	
}

.main-page {
	color: #fff;
	background-image: url(../img/bg-index.jpg);
	background-repeat: no-repeat;
}
.container {
	margin: 0 auto;
	width: 940px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-header {
	margin-bottom: 60px;
	font-size 16px;
	line-height: 20px;
	background-color: #000;
}

.main-navigation {
	float: left;
	windt: 780px;

}
.main-navigation ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-navigation a {
	display: block;
	padding: 25px 20px;
	color: #fff;
	text-decoration: none;
}
.main-navigation a:hover {
	background-color: #242424;
}
.user-block {
	float: right;
	max-width: 140px;
}
.login {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 25px 20px;
	padding-left: 50px;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
}
.login:hover {
	background-color: #242424;
} 
.login::before {
	content: "";
	position: absolute;
	top: 27px;
	left: 22px;
	width: 18px;
	height: 18px;
	background: url(../img/sprite.png);
	background-position: -10px -10px;
	opacity: 1;
} 
.login:hover::before {
	opacity: 0.5;
}

.index-logo {
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 25px;

}
.index-logo img {
	width: 368px;
	height: 204px;
	
}

.features {
	display: flex;
	flex-direction: row;
	justify-contetn: space-between;
	margin-bottom: 80px;
}

.features-item {
	width: 300px;
	text-align: center;
}
.features-name {
	font-size: 30px;
	line-height: 36px;
}

.features-name p {

}


.index-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 35px;
	padding: 50px 80px;
	color: #000;
	background: url(../img/separator.png) no-repeat 50% 50%,
	#f6f3f0 url(../img/content-bg-pattern.jpg)  ;
}
.index-content a {
	text-decoration: none;
}
.index-content-left {
	width: 380px;
	min-height: 330px;
}

.index-content-right {
	width: 300px;
	min-height: 330px;
}

.index-contetn-title {
	font-size: 30px;
	line-height: 36px;	
}

.news-preview {
	margin: 0;
	padding: 0;
	list-style: none;
}

.news-preview p {
	margin-bottom: 0;
}

.news-preview time {font-weight: normal;}


.btn {
	display: inline-block;
	padding: 10px 35px;
	color: #fff;
	background-color: #000;
	text-decoration: none;
	text-transform: uppercase;
}

.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
	background: #242424 url("../img/footer-bg-pattern.jpg");
}

.main-footer a {
	color: #fff;
	text-decoration: none;
}
.footer-contacts {
	float: left;
	width: 320px; 
	margin-right: 80px;
	border: 1px solid red;
}

.footer-social {
	float: left;
	width: 180px;
	text-align: center;
	border: 1px solid red;
}

.footer-copiright {
	float: right;
	width: 180px;
	text-align: center;	
	border: 1px solid red;
}

.social-btn {
	content: "";
	width: 42px;
	height: 42px;
	background: #000 url(..img/sprite.png) no-repeat;
}

 